
@{
    ViewData["Title"] = "MultipleFileUpload";
}

<h1>Multiple File Upload</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="File" asp-action="MultipleFileUpload"
              enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="file" name="MultipleFiles" @* multiple accept=".jpg,.png,.gif,.pdf" *@ class="form-control" />
            <br />
            <button type="submit" name="Upload" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>



